@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background: #000;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
p,
b,
span {
  font-family: "Roboto", sans-serif; }

.container {
  width: 75%;
  margin: 0 auto; }

.block-section {
  display: block; }

.main-left {
  position: fixed;
  left: 10px;
  bottom: 10px; }

#baby-yoda {
  transition: 0.3s; }

#baby-yoda:hover {
  transform: scale(1.1); }

#vader-error {
  transition: 0.3s; }

#vader-error:hover {
  transform: scale(1.1); }

.main-right {
  position: absolute;
  right: 30px;
  bottom: 30px; }
  .main-right img {
    cursor: pointer;
    height: auto;
    transition: 0.3s; }
    .main-right img:hover {
      transform: scale(1.2); }

.footer-contain {
  margin-top: calc(60px - 220px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif; }
  .footer-contain img {
    cursor: pointer;
    transition: 0.3s; }
    .footer-contain img:hover {
      transform: scale(1.2); }

.error-default {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 40px;
  width: 100%;
  display: block;
  text-align: center; }

.section {
  width: 100%; }

.background--one {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .background--one .block-section--one {
    width: 100%;
    display: block;
    text-align: center; }
    .background--one .block-section--one h1 {
      font-weight: 400;
      font-size: 22px;
      margin-bottom: 32px; }
    .background--one .block-section--one img {
      cursor: pointer;
      width: 300px;
      height: auto;
      transition: 0.3s; }
      .background--one .block-section--one img:hover {
        transform: scale(1.2); }

.background--two {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex; }
  .background--two .block-section--two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(10px - 60px);
    height: 100%; }
    .background--two .block-section--two img {
      max-width: 300px;
      height: auto; }
    .background--two .block-section--two p {
      margin-left: 70px;
      height: 100%;
      text-align: right; }

.background--three {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .background--three .block-section--three {
    width: 100%;
    display: block;
    text-align: center; }
    .background--three .block-section--three h1 {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 32px;
      color: yellow;
      height: 300px; }
    .background--three .block-section--three img {
      cursor: pointer;
      width: 300px;
      height: auto;
      transition: 0.3s; }
      .background--three .block-section--three img:hover {
        transform: scale(1.2); }

@media (max-width: 600px) {
  .background--two {
    height: 1400px; }
    .background--two .block-section--two {
      display: grid;
      height: 90%; }
      .background--two .block-section--two p {
        text-align: center;
        margin-left: 0px; }
      .background--two .block-section--two img {
        margin: 0 auto;
        width: 60%; }

  .footer-contain {
    margin-top: calc(10px - 100px); } }

/*# sourceMappingURL=style.css.map */
